<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><a href="/quote">Home</a> | <a href="{% url 'course_a:add' %}">Add Quote and Message</a> | <a href="/logout">Logout</a></p>
    <h2>Name: {{user.first_name}}</h2>
    <h2>Last Name: {{user.last_name}}</h2>
    <h2>Email: {{user.email}}</h2> 
    <h2>Description: </strong> {{user.message_left.all.count}}</h2>
    <hr>
    <h1>Posted Message on Quotes</h1>
    {% for quote in unique_quote_message %}
    <h3><a href="/quote/{{quote.id}}">{{quote.quoted_by}}</a></h3>
    {% endfor %}
</body>
</html>